Repository cyberrangecz/frontend-visualization-dashboard: changes, and which GitLab CI jobs are due for each by the changed paths.
All: codeStyle, buildExampleApp, buildLibrary, auto-tag

.gitlab-ci.yml:

image: cypress/browsers:node16.13.0-chrome95-ff94

stages:
  - codeStyle
  - build
  - auto-tag
  - deploy

cache:
  key: $CI_COMMIT_REF_SLUG-$CI_PROJECT_DIR
  paths:
    - .npm/

before_script:
  - cp $NPMRC_PULL ~/.npmrc
  - npm ci --cache .npm --prefer-offline --ignore-scripts

codeStyle:
  stage: codeStyle
  cache:
    key: $CI_COMMIT_REF_SLUG-$CI_PROJECT_DIR
    paths:
      - .npm/
    policy: pull
  script:
    - npm run lint
  only:
    - triggers
    - branches
  except:
    changes:
      - "CHANGELOG.md"
    refs:
      - master

buildExampleApp:
  stage: build
  cache:
    key: $CI_COMMIT_REF_SLUG-$CI_PROJECT_DIR
    paths:
      - .npm/
    policy: pull
  script:
    - npm run build-example-app
  only:
    - triggers
    - branches
  artifacts:
    paths:
      - ./dist
    expire_in: 1 hour
  except:
    changes:
      - "CHANGELOG.md"
    refs:
      - master

buildLibrary:
  stage: build
  cache:
    key: $CI_COMMIT_REF_SLUG-$CI_PROJECT_DIR
    paths:
      - .npm/
    policy: pull
  script:
    - npm run build-library
  only:
    - triggers
    - branches
  artifacts:
    paths:
      - ./dist
    expire_in: 1 hour
  except:
    changes:
      - "CHANGELOG.md"
    refs:
      - master

auto-tag:
  image: 'registry.gitlab.ics.muni.cz:443/csirt-mu-devel/csirt-mu-devel-artifact-repository/docker-common-ci:v0.1.6'
  variables:
    GIT_STRATEGY: clone
  stage: auto-tag
  script:
    - source /app/export-tag-vars.sh VERSION.txt
    - echo $TAG_VERSION && echo $TAG_MESSAGE
    - /app/import-ssh-key.sh
    - /app/prepare-git.sh
    - /app/set-version-angular.sh
    - /app/create-changelog.sh
    - /app/tag-and-push.sh
  rules:
    - if: '$CI_COMMIT_BRANCH == "master"'
      changes:
        - VERSION.txt

deploy:
  stage: deploy
  cache:
    key: $CI_COMMIT_REF_SLUG-$CI_PROJECT_DIR
    paths:
      - .npm/
    policy: pull
  script:
    - cp $NPMRC_PULL ~/.npmrc
    - npm run ci-build-and-pack
    - cp $NPMRC_PUSH ~/.npmrc
    - npm run ci-publish-package
  only:
    - tags

Update with new Angular 15 libraries
  .eslintrc.json
  README.md
  VERSION.txt
  angular.json
  package-lock.json
  package.json
  projects/kypo-visualization-dashboard-example/src/app/app-routing.module.ts
  projects/kypo-visualization-dashboard/dashboard/src/dashboard.component.html
  projects/kypo-visualization-dashboard/dashboard/src/dashboard.component.ts
  projects/kypo-visualization-dashboard/dashboard/src/dashboard.module.ts
  tsconfig.json
Due: codeStyle, buildExampleApp, buildLibrary, auto-tag

[CI/CD] Update packages.json version based on GitLab tag.
  projects/kypo-visualization-dashboard/package.json
Due: codeStyle, buildExampleApp, buildLibrary

[CI/CD] CHANGELOG.md file updated with commits between the current and previous tag.
  CHANGELOG.md
Due: none

Update to Angular 16
  .eslintrc.json
  .gitlab-ci.yml
  README.md
  package-lock.json
  package.json
  projects/kypo-visualization-dashboard-example/.eslintrc.json
  projects/kypo-visualization-dashboard/.eslintrc.json
  projects/kypo-visualization-dashboard/dashboard/src/dashboard.component.html
  projects/kypo-visualization-dashboard/dashboard/src/dashboard.module.ts
Due: codeStyle, buildExampleApp, buildLibrary

Update local issuer to keycloak
  VERSION.txt
  projects/kypo-visualization-dashboard-example/src/environments/environment.local.ts
  projects/kypo-visualization-dashboard-example/src/environments/environment.prod.ts
  projects/kypo-visualization-dashboard-example/src/environments/environment.ts
Due: codeStyle, buildExampleApp, buildLibrary, auto-tag

[CI/CD] CHANGELOG.md file updated with commits between the current and previous tag.
  CHANGELOG.md
  projects/kypo-visualization-dashboard/package.json
Due: none

Update sentinel versions
  VERSION.txt
  package-lock.json
  package.json
Due: codeStyle, buildExampleApp, buildLibrary, auto-tag

update visualization versions
  VERSION.txt
  package-lock.json
  package.json
Due: codeStyle, buildExampleApp, buildLibrary, auto-tag

Update to Angular 18
  .gitlab-ci.yml
  .husky/pre-commit
  VERSION.txt
  angular.json
  package-lock.json
  package.json
  projects/kypo-visualization-dashboard-example/src/environments/environment.local.ts
  projects/kypo-visualization-dashboard-example/src/index.html
  projects/kypo-visualization-dashboard/dashboard/ng-package.json
  projects/kypo-visualization-dashboard/dashboard/src/dashboard.component.ts
  projects/kypo-visualization-dashboard/internal/ng-package.json
  projects/kypo-visualization-dashboard/package.json
Due: codeStyle, buildExampleApp, buildLibrary, auto-tag

Readmes, remove json server, update package.json, update environments, fix routes
  README.md
  package-lock.json
  package.json
  projects/visualization-dashboard-example-app/src/environments/environment.local.ts
  projects/visualization-dashboard-example-app/src/environments/environment.prod.ts
  projects/visualization-dashboard-example-app/src/environments/environment.ts
  projects/visualization-dashboard/package.json
  utils/json-server/db.js
  utils/json-server/routes.json
  utils/json-server/server.js
Due: codeStyle, buildExampleApp, buildLibrary

Add dependencies
  package-lock.json
  projects/visualization-dashboard/package.json
Due: codeStyle, buildExampleApp, buildLibrary

add actions
  .github/workflows/github-actions.yml
  package.json
  projects/visualization-dashboard/package.json
Due: codeStyle, buildExampleApp, buildLibrary

Update peer dependency
  projects/visualization-dashboard/package.json
Due: codeStyle, buildExampleApp, buildLibrary

Update version to 1.0.0
  package-lock.json
  package.json
  projects/visualization-dashboard/package.json
Due: codeStyle, buildExampleApp, buildLibrary

Update dependency version
  package-lock.json
Due: codeStyle, buildExampleApp, buildLibrary
